:root{
    --color:rgb(33, 150, 243);
    --background-color:#2F303A;
    
}
.selected{
    color:var(--color);
}
.logo{
    color: var(--color);
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}
header > li{
    font-size: 14px;
    line-height: 1.14;
    line: spacing 0.02em;
}
nav{
    font-weight: 500;
    
}
.selected-btn{
    background-color: var(--color);
    color:white;
}

.header-btn-div{
    background-color: var(--background-color);
    
}

header > .link{
    line-height: 1.14;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    color: white;
}
button{
    line-height: 1.6;
    border: none;
    font-weight: 500;
}

.hero{
    background-color: var(--background-color);
}

.hero-btn-div > button{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    background-color: var(--color);
    color: white;

    border: none;
    
}
button:hover {
    cursor: pointer;
    background-color: #188CE8;
}
button:focus{
    background-color: #188CE8;
}

.list{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color:inherit;

}
/* .link{
    text-decoration: none;
    font-style: normal;
} */
footer a{
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.link:hover{
    color: #188CE8;
    
}

.link:focus{
    color: #188CE8;
    
}

footer .link:hover{
    color:rgba(255, 255, 255, 0.6);
}

footer .link:focus{
    color: rgba(255, 255, 255, 0.6);
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}
/* group 1 div*/
.group-1{
    /* text-align: center; */
    font-size: 14px;
    /* font-weight: 700; */
}

.group-1 > p{
    line-height: 1.7;
}
/* what we do div */

/* our team div*/
.our-team{
    
    font-size: 16px;
    background-color: #F5F4FA;
}

.our-team > h3{
    line-height: 1.2;
}

.our-team > p{
    line-height: 1.2;
}

.card-bg{
    background-color: white;
}
/* portfolio section */
/* .projects{
    text-align: center;
} */
.projects h3{
    font-size: 18px;
    line-height: 2;
}
.projects p{
    font-size: 16px;
    line-height: 1.8;
}
.footer{
    background-color: var(--background-color);
    
}

.link{    
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
        
}
address {    
    line-height: 1.7;
    color: white;
}
.bold-color{
    color: rgba(33, 33, 33, 1);
    /* font-weight: 500; */
}

.color-transform{
    color:inherit;
}
.studio-h3-font-transform{
    font-family: Roboto;
    font-size: inherit;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(33, 33, 33, 1);
}

.studio-p-text-transform{
    font-family: Roboto;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.portfolio-h3-font-transform {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(33, 33, 33, 1);
}

.portfolio-p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

