body{
    /* text-align: center; */
    font-family: Roboto;
}

h1{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

button{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;

    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    /* text-align: center; */
    letter-spacing: 0.06em;

    color: #FFFFFF;

    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

button:hover{

}

header{
    /* text-align:left; */
    
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    
    text-decoration: none;
    display:inline;
    /* height: 80px;     */
}
.logo-edit{
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: #2196F3;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
}

li{
    /* position: absolute;
    width: 42px;
    height: 16px;
    left: 453px;
    top: 32px; */
    float: left;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: inline;
}

li a{
    display: block;
    padding: 8px;
}

footer{
    text-align: left;
}



div{
    position:absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    background: #2F303A;
    text-align: center;
}
.table-our-mission{
    position: absolute;
        width: 1170px;
        height: 95px;
        left: 215px;
        top: 774px;
}
.table-WWD-position{
    position: absolute;
        width: 1170px;
        height: 386px;
        left: 215px;
        top: 969px;
}

.table-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.table-our-team-postion{
    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1449px;
    
        background: #F5F4FA;
}


